- content_for :head do
  :javascript
    $(document).ready(function() {
      $("li#nav1").addClass("active");
    })

.wolfpacks-container.clearfix
  - @wolf_packs.each do |wolf_pack|
    .wolfpack
      %h3.wolfpack-tag= link_to wolf_pack.name, wolf_pack


= link_to 'Create a new Wolf Pack', new_wolf_pack_path
