- content_for :head do
  :javascript
    $(document).ready(function() {
      $("li#nav1").addClass("active");
    })

%table
  %tr
    %th Location
    %th Name
  - @wolf_packs.each do |wolf_pack|
    %tr
      %td= wolf_pack.location
      %td= link_to wolf_pack.name, wolf_pack

%br

= link_to 'Create a new Wolf Pack', new_wolf_pack_path
