body {
  overflow-y: scroll;
  background:#fff;
}

.center {
  text-align: center;
}

.footer{
  width:100%;
}

hr {
  border-color: #BBBBBB;
}

.wolfpack-tag{
  font-size:18px;
  display:block;
  color:#fff;
  background:#000;
  text-align:center;
  width:150px;
  float:left;
  padding:5px;
  margin:10px;
}

.wolfpacks-container{
  width:1180px;
  margin:70px auto 50px 0;
}

.wolfpack-tag:hover{
  background:#333;
}

.wolfpack-tag a{
  color:#fff;
}

.wolfpack-tag a:hover{
  color:#fff;
  text-decoration:none;
}

.feed-container{
  width:40%;
  margin-top: 50px;
  overflow:none;
  .tab-content {
    .tab-pane {
      padding-top: 24px;
    }
  }
  .nav-tabs { margin: 1em auto -1em; display: table;}
}

.howl, .event{
  margin:30px 0;
}

.question{
  background:green;
}

.video{
  background:white;
}

.resource {
  .event {
    padding: 10px 20px;
  }
  .unrecognized {
    background: #CCCCCC;
    padding: 10px 20px;
  }
}

.video-image{
  background:black;
  padding:20px;
}

.video-discription{
  padding:10px 20px;
  margin:3px 0;
}

.event{
  background:yellow;
}

.video-discription{
  display:block;
  background:#ccc;
}

.question{
  display:block;
  padding:10px;
  margin:3px 0;
  font-size:18px;
}


.answer{
  display:block;
  background:#ccc;
  padding:10px 10px 10px 30px;
  margin:3px 0;
}


